body, html {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  font-family: "Mono";
  text-align: left;
  width: 98%;
  padding: 10px;

  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #27496d;

  margin-top: 5px;
  outline:none;

  margin-left: 1%;
  margin-right: 1%;
}

button:hover.button_voltar,
button.hover.button_voltar {
  background-color: #c0392b;
  box-shadow: 0 3px #7d251c;
}

button:hover.button_avancar,
button.hover.button_avancar {
  background-color: #e74c3c;
  box-shadow: 0 3px #c0392b;
}

button:hover,
button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

button:active.button_voltar,
button.active.button_voltar {
  background-color: #c0392b;
  box-shadow: 0 3px #c0392b;
}

button:active,
button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}


h1 {
  margin: 0.2em;
}

@font-face {
	font-family: "Mono";
	src: url("../upheavtt.ttf");
}

body {
	font-family: "Mono";
  background-color: #ecf0f1;
}

#name-field {
  font-size: 1.5em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#progress-bar {
  width: 98%;
  height: 8px;
  background-color: #27ae60;
  margin-left: 1%;
  margin-right: 1%;
}

#container {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar { 
  display: none; 
}

h1 {
  margin: 0;
  padding: 0;
}

#walking-message {
  margin: auto;
  text-align: center;
  padding-top: 50%;
}

#walking-message-found {
  margin: auto;
  text-align: center;
}

#core {
  width: 378px;
  margin: auto;
  background-color: white;
  height: 560px;
  top: 50%;
}

#container {
  background-color: #2c3e50;
}

h1 {
  margin-left: 1%;
}
/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 378px) {
  #core {
    height: 100%;
  }
}
